<table>
    <thead>
        <th>Product ID</th>
        <th>Quantity</th>
    </thead>
    <tbody>
        {% for row in token_details %}
        <tr>
            {% for detail in row %}
            <td>
                {{ detail }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <br><br>
        <a href="/TokenManager" class="button">Home</a>
    </body>
</html>