<!DOCTYPE html>
<html>
  <head>
    <title>Token details</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <h2>Token details are</h2><br><br>
    <table>
      <thead>
        <th>Product ID</th>
        <th>Quantity</th>
      </thead>
      <tbody>
        {% for row in token_details %}
        <tr>
          {% for detail in row %}
          <td>
            {{ detail }}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br><br>
    <a href="/TokenManager" class="button">Back</a>
  </body>
</html>
