<table>
    <thead>
        <th>Token ID</th>
        <th>Assigned ?</th>
    </thead>
    <tbody>
        {% for status in statuses %}
        <tr>
            {% for d in status %}
            <td>
                {{ d }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <br><br>
        <a href="/TokenManager" class="button">Home</a>
    </body>
</html>