<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles.css"/>
  </head>
  <body>
    <h2>Inventory details</h2><br><br>
    <table>
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Stored Quantity</th>
          <th>Displayed Quantity</th>
          <th>Minimum Threshold</th>
          <th>Unit Type</th>
        </tr>
      </thead>
      <tbody>
        {% for row in inventory %}
        <tr>
          {% for d in row %}
          <td>{{ d }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br><br>
    <a href="/InventoryManager" class="button">Back</a>
  </body>
</html>
