<!DOCTYPE html>
<html>
    <head>
        <title>Invoice preview</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../styles.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
        <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/BillDesk/PrintInvoice', { },
        function(data) { }); return false; }); }); </script>
        <link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet">
        <link href='../styles.css' rel="stylesheet">
        <style>
            h3 {display:inline}
            pre {tab-size: 8}
        </style>
    </head>
    <body>
        <p style="text-align: left;"><input type="button" id="mybutton" value="Print"><span style="float: right;">Cash Invoice</span></p>
        <h1 style="text-align: center;"><strong>चितळे बंधू मिठाईवाले</strong></h1>
        <p style="text-align: center;"><strong>Deccan Gymkhana</strong></p>
        <p style="text-align: center;">Pune. Ph. 020 25671748</p>
        <p style="text-align: center;">GSTIN : 27AAOCA6607L1Z8</p>
        <p style="text-align: center;">FSSAI No : 11519034000277</p>
        <body>
            <!-- Header -->
            <pre><h3>Invoice ID   :</h3> {{ invoice_id }}    <h3>Timestamp :</h3> {{ timestamp }}<br><br></pre>
            <pre><h3>Payment mode :</h3> {{ payment_mode }}<br><br></pre>
        
            <!-- Body -->
            <table border="1" cellpadding="5" cellspacing="5">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Rate</th>
                  <th>SGST</th>
                  <th>CGST</th>
                  <th>Total Amount(Exc. GST)</th>
                </tr>
              </thead>
              <tbody>
                {% for row in invoice %}
                <tr>
                  {% for d in row %}
                  <td>{{ d }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table><br>
            <!-- Tailer -->
            <pre>                                                                                      <h3>Total SGST     :</h3> {{ sgst_total }}<br></pre>
            <pre>                                                                                      <h3>Total CGST     :</h3> {{ cgst_total }}<br></pre>
            <pre>                                                                                      <h3>Total amount   :</h3> {{ invoice_total }}<br></pre>
            <pre>                                                                                      <h3>Discount given :</h3> {{ discount_given }}<br></pre>
            <pre>                                                                                      <h3>Bill Amount    :</h3> {{ invoice_total + sgst_total + cgst_total - discount_given }}<br></pre>
            <br>
        </body>
    </html>
        
