<!DOCTYPE html>
<html>
    <head>
        <title>Invoice preview</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../styles.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
        <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/BillDesk/PrintInvoice', { },
        function(data) { }); return false; }); }); </script>
        <link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet">
        <link href='../styles.css' rel="stylesheet">
    </head>
    <body>
        <p style="text-align: left;"><input type="button" id="mybutton" value="Print"><span style="float: right;">Cash Invoice</span></p>
        <h1 style="text-align: center;"><strong>चितळे बंधू मिठाईवाले</strong></h1>
        <h3 style="text-align: center;">Deccan Gymkhana</h3>
        <p style="text-align: center;">Pune. Ph. 020 25671748</p>
        <p style="text-align: center;">GSTIN : 27AAOCA6607L1Z8</p>
        <p style="text-align: center;">FSSAI No : 11519034000277</p>
        <p style="text-align: left;">Date : {{ invoice_details[1] }} <span style="float:right">Invoice ID : {{ invoice_details[0] }}</span></p>
        <table>
            <thead>
                <th>Product</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>GST Rate</th>
                <th>CGST</th>
                <th>SGST</th>
                <th>Amount</th>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    {% for data in product[:-1] %}
                    <td>
                        {{ data }}
                    </td>
                    {% endfor %}
                    <td><strong>{{ product[-1] }}</strong></td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: right;">Total CGST Amount : {{ cgst }}</p> 
        <p style="text-align: right;">Total SGST Amount : {{ sgst }}</p>
        <p style="text-align: right;">Total CST Amount : {{ cgst + sgst }}</p>
        <hr>
        <p style="text-align: right;">Temporary Bill Amount : {{ total amount }}</p>
        <p style="text-align: right;">Discount : {{ invoice_details[2] }}</p>
        <hr>
        <p style="text-align: right;"><strong>Total Bill Amount : {{ total amount with discount }}</strong></p>
    </body>
</html>